.main {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.rightSide {
  flex: 0.82;
}

.navbar {
  height: 8%;
  background: #d9d9d9;
}

.rightBody {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.fileImage {
  height: 70%;
  width: 35%;
}

.btn {
  background-color: var(--primary);
  width: 100%;
  height: fit-content;
  font-family: Mulish-regular !important;
  margin: 8%;
  color: white;
  padding: 10px 50px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  transition: background-color 0.2s, box-shadow 0.2s;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.btn:active {
  background-color: #08002a;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.buttonContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonContainer h1{
  font-size: 24px;
  font-weight: bold;
  color: var(--primary);
}

